.faq-head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.btn-getstated{
    width: 150px;
    height: 50px;
    background-color: #0A694E;
    border: none;
    color: white;
}
.faq-under-head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}