.title_top {
  text-align: center;
  font-size: 20px;
  padding-bottom: 50px;
  color: aquamarine;
  border-bottom: 1px solid gray;
  li {
    padding-bottom: 10px;
    font-style: normal;
    color: gray;
  }
}
